/NRGArrayAccess.class
/NRGArrayCreation.class
/NRGArrayInitializer.class
/NRGAssignment.class
/NRGCast.class
/NRGClassInstanceCreation.class
/NRGConditional.class
/NRGFieldAccess.class
/NRGInfixExpression.class
/NRGInstanceof.class
/NRGMethodInvocation.class
/NRGPostfixExpression.class
/NRGPrefixExpression.class
/NRGQualifiedName.class
/NRGSuperFieldAccess.class
/NRGSuperMethodInvocation.class
/NRGThisExpression.class
/NRGTypeLiteral.class
/NRGVariableDeclaration.class
/NameReferenceGroup.class
/NameReferenceGroupKind.class
