/Debug.class
/FilePair.class
/SourceFilePackingManager$JavaSourceFileFilter.class
/SourceFilePackingManager.class
/SourceFilesStructure.class
/Stack.class
/SystemVersionComparator$JavaSourceFileFilter.class
/SystemVersionComparator.class
