/IntersectionTypeReference.class
/LiteralReference.class
/MethodReference.class
/NameReference.class
/NameReferenceKind.class
/NameReferenceLabel.class
/NamedTypeReference.class
/PackageReference.class
/ParameterizedTypeReference.class
/QualifiedTypeReference.class
/TypeReference.class
/TypeReferenceKind.class
/UnionTypeReference.class
/ValueReference.class
/WildcardTypeReference.class
