/DetailedTypeSelectedReference.class
/FieldComparator.class
/MethodComparator.class
/MethodSelectedReference.class
/NameTableASTBridge.class
/NameTableChecker.class
/NameTableManager.class
/SelectedReferenceToName.class
/TestNameTable$1.class
/TestNameTable$2.class
/TestNameTable.class
/TestNameTable1.class
/TestNameTable2.class
/TestNameTable3.class
